@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
.super-crazy-colors{
  color: #333;
}
@-webkit-keyframes scan {
  /* finish with the scan bar just off the right side */
  100% { background-position: 25% center; }
}
.scanning video{
  width: 100%;
}
.scanning{
  position: relative;
}
.super-crazy-colors{
  color: #fff !important;
}
.dummyContainer{
  height:350px;
  width:auto;
  position: relative;
}
.actions {
  text-align: center;
  background: #17212C !important;
}
.camera{
  color: #fff !important;
}
.camera:hover{
  background: transparent !important;
}
.dummy {
    width: 100%;
    position: absolute;
    height: auto;
    top: 0;
    margin: auto;
    left: 0;
}
h3{
  font-family: 'Lato',sans-serif !important;
  color: #f2f2f2;
  font-weight: 700;
  margin: auto;
  text-align: center;
}
h4{
  font-family: 'Cabin',sans-serif !important;
  color: #fff;
  font-weight: 400;
  margin: auto;
  text-align: center;
}
.sbi img{
  max-width: 40px;
  height: auto;
}
.sbi{
    margin: 10px auto;
    position: relative;
    text-align: center;
}
.customInputField{
    border: none;
    background: #17212C;
    padding: 4px 4px 0 0;
    width: 350px;
    font-weight: 700;
    font-size: 1.2em;
    margin: 10px 0;
    color: #fff;
}
p{
  color: #fff;
  margin: auto;
}
.image{
  margin: auto;
  max-width: 70%;
  text-align: center;
  margin-top: 20px;
}
.testing{
  margin: auto;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
h2 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
    color: #fff;
}
.customInputField::placeholder{
  font-weight: 600;
  font-size: 1.2em;
}
.customInputField:focus {
    border: none;
    outline: none;
}
.inputFields{
  text-align: center;
}
.result{
  text-align: center;
}
